html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-nav {
  min-height: 80px;
  background: transparent;
}
.logo {
  line-height: 80px;
  color: #000;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  float: left;
  text-decoration: none;
}
.logo > em {
  color: #ed563b;
  font-style: normal;
  font-weight: 900;
}
.header-area {
  /* background: rgba(250, 250, 250, 0.1);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 80px;
  position: absolute; */
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 80px;
  background: rgba(250, 250, 250, 0.1);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header-area .main-nav .nav {
  float: right;
  background-color: transparent;
  z-index: 10000;
  position: relative;
}

.background-header {
  top: 0;
  left: 0;
  right: 0;
  background: rgba(250, 250, 250, 0.99) !important;
  position: fixed !important;
  height: 80px in !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}
.scroll-to-section > a,
.main-button > a {
  text-decoration: none;
  color: #fff;
}
.header-area .main-nav .menu-trigger span {
  top: 16px;
}
.background-header .scroll-to-section > a {
  color: #000;
}
.header-area .main-nav .nav .scroll-to-section .active {
  opacity: 1;
  color: #ed563b;
  font-size: 16px;
  display: block;
  font-weight: 500;
  height: 40px;
  line-height: 30px;
  border: transparent;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header-area.header-sticky .nav li a.active {
  color: #ed563b;
}
.header-area .main-nav .nav .scroll-to-section .active:hover {
  color: #ed563b;
}
.background-header .nav li a.active {
  color: #ed563b !important;
}
.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}
.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}
.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}
.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}
.header-area.header-sticky .nav {
  margin-top: 20px !important;
}
.header-area .main-nav .menu-trigger span {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 767px) {
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #ed563b !important;
    opacity: 1;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li:last-child {
    width: 100%;
    background-color: #ed563b;
    color: #fff;
  }
  .header-area .main-nav .nav li:last-child a {
    background-color: #ed563b !important;
  }
  .header-area .main-nav .nav li:last-child a:hover,
  .header-area .main-nav .nav li:last-child:hover a {
    background-color: #ed563b !important;
    color: #fff !important;
  }
  .header-area.header-sticky .nav {
    margin-top: 80px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #232d39 !important;
  }
  .header-area .main-nav .nav li:last-child a {
    color: #fff !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #ed563b !important;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3b566e;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul,
  .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}
@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}
.header-area .main-nav .nav li:last-child a {
  background-color: #ed563b;
  color: #fff;
  font-size: 13px;
  padding: 11px 17px;
}
.main-banner {
  position: relative;
}
#bg-video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.video-overlay {
  position: absolute;
  background-color: rgba(35, 45, 57, 0.8);
  width: 100%;
  top: 0;
  left: 0;
  bottom: 7px;
}
.caption {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.caption h6 {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 750;
}
.caption h2 {
  font-size: 84px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  margin: 24px 0;
}
.caption h2 > em {
  color: #ed563b;
  font-style: normal;
}
.main-button a {
  background-color: #ed563b;
  color: #fff;
  font-size: 15px;
  padding: 12px 16px;
  text-transform: uppercase;
}
.main-button a:hover {
  background-color: #f9735b;
}
.scroll-to-section > a {
  text-decoration: none;
}
#features {
  margin-bottom: 80px;
}
.section-heading {
  margin-top: 140px;
  margin-bottom: 80px;
  text-align: center;
}
.section-heading h2 {
  color: #212259;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 0;
}
.section-heading h2 em {
  font-style: normal;
  color: #ed563b;
}
.section-heading > img {
  margin: 20px auto;
}
.section-heading p {
  font-size: 14px;
  color: #000;
  line-height: 24px;
}
.features-item {
  list-style-type: none;
}
.feature-item {
  display: inline-block;
  margin-bottom: 50px;
}
.left-icon {
  float: left;
  margin-right: 30px;
}
.right-content h4 {
  font-size: 19px;
  color: #232d39;
  font-weight: 600;
}

.right-content p {
  font-size: 14px;
  color: #7a7a7a;
  line-height: 25px;
  margin: 0;
}
.right-content p a {
  text-decoration: none;
}
.right-content p a:hover {
  color: #0056b3;
}
.text-button {
  color: #ed563b;
  font-weight: 500;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
}
#call-to-action {
  padding: 120px 0;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  background-size: cover;
  background-image: url(../images/cta-bg.jpg);
}
.cta-content h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
}
.cta-content h2 > em {
  color: #ed563b;
  font-style: normal;
}
.cta-content p {
  color: #fff;
  font-size: 16px;
  margin: 15px 0 25px 0;
}
#our-classes {
  margin-bottom: 145px;
}
#tabs ul li {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
}
#tabs ul li a {
  padding: 30px 30px;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  display: inline-block;
  text-decoration: none;
  width: 100%;
  border-radius: 5px;
  color: #000;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.5;
}
#tabs ul .ui-tabs-active a {
  color: #ed563b;
}
#tabs ul li a img {
  margin-right: 16px;
}
.main-rounded-button {
}
.main-rounded-button a {
  text-align: center;
  padding: 20px 30px;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  color: #fff;
  font-size: 19px;
  letter-spacing: 0.5px;
  font-weight: 600;
  background-color: #ed563b;
  text-decoration: none;
}
.tabs-content {
  margin-left: 40px;
}
.tabs-content img {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}
.tabs-content h4 {
  margin: 15px 0;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.5;
}
.tabs-content p {
  font-size: 14px;
  margin-bottom: 28px;
}
#schedule {
  padding: 0 0 140px 0;
  background-image: url(../images/schedule-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.dark-bg h2,
.dark-bg p {
  color: #fff;
}
.filters {
  margin-bottom: 40px;
}

.schedule-filter {
  text-align: center;
}
.schedule-filter li {
  color: #fff;
  list-style: none;
  display: inline;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
}

.schedule-filter li::after {
  content: " /";
  margin-left: 10px;
  color: #fff;
}
.schedule-filter li:last-child::after {
  content: "";
}
.schedule-filter ul li.active {
  color: #ed563b;
}
#schedule table {
  border: solid 1px #fff;
  text-align: center;
  width: 100%;
}
#schedule table tbody tr {
  border-bottom: solid 1px #fff;
}
#schedule table tbody tr td {
  border-right: solid 1px #fff;
  height: 100px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.2;
}
/* #schedule table tbody tr td {
  border-right: 1px solid #fff;
  height: 100px;
} */
#schedule .filters ul li.active,
#schedule .filters ul li:hover {
  color: #ed563b;
}
.schedule-table .filtering .ts-item {
  opacity: 0;
  transition: all 0.5s;
}
.schedule-table .filtering .ts-item.show {
  opacity: 1;
  transition: all 0.5;
}
#schedule .filters-content {
  margin-top: 50px;
}
#schedule .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}
#schedule .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}
/* Begin trainer */
.trainer-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  padding: 40px;
}
.trainer-item .image-item img {
  width: 100%;
  border-radius: 5px;
}
.dow-content span {
  font-size: 13px;
  color: #ed563b;
  display: inline-block;
  margin: 25px 0 18px 0;
  font-weight: 500;
}
.dow-content h4 {
  font-size: 19px;
  font-weight: 600;
}
.dow-content p {
  color: #7a7a7a;
  font-size: 14px;
}
.dow-content .social-icon {
  list-style: none;
  margin-right: 12px;
}
.dow-content .social-icon li {
  display: inline-flex;
  margin-right: 30px;
}
.dow-content .social-icon li a {
  transition: 0.3s all;
  color: #000;
}
#contact-us {
  margin-top: 150px;
}
.container-fluid {
}

.contact-form {
  background-image: url(../images/schedule-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 80px;
}
#contact-us .contact-form #contact {
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
}
#contact-us .contact-form #contact textarea,
#contact-us .contact-form #contact input {
  color: #7a7a7a;
  font-size: 13px;
  border: solid 1px #ddd;
  width: 100%;
  background-color: #fff;
  height: 40px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 30px;
}
#contact-us .contact-form #contact textarea {
  height: 150px;
  resize: none;
  width: 100%;
}
#contact-us .contact-form #contact .main-button {
  background-color: #ed563b;
  font-size: 14px;
  color: #fff;
  outline: none;
  padding: 12px;
  border: none;
  text-transform: uppercase;
}
footer p {
  text-align: center;
  margin: 20px 0;
  font-size: 13px;
}
footer p a {
  color: #ed563b;
  text-decoration: none;
}
@media (max-width: 992px) {
  .main-banner .caption h2 {
    font-size: 64px;
  }
  #features {
    margin-bottom: 110px;
  }
  #features .feature-item {
    margin-bottom: 30px;
  }
  #our-classes .tabs-content {
    margin-left: 0px;
    margin-top: 30px;
  }
  .trainer-item {
    margin-bottom: 30px;
  }
  #contact-us #map {
    margin-bottom: -7px;
  }
  #contact-us .contact-form {
    padding: 30px;
  }
  #contact-us .contact-form #contact {
    padding: 30px;
  }
}

@media (max-width: 450px) {
  .feature-item .right-content a.text-button {
    margin-left: 130px;
  }
}
